body {
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 1.2em;

  background-color: #222;
  color: #ddd;
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
  margin: 1em 0;
}

li a {
  color: #ccf;
}